<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Add_product</H1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="number" name="pro_id" placeholder="pro_id">
        <input type="text" name="name" id=" " placeholder="Name">
        <input type="number" name="Price" id=" " placeholder="Price">
        <input type="number" name="Offer_price" id=" " placeholder="Offer_price">
        <input type="text" name="dis" id=" " placeholder="discription">
        <input type="file" name="img" id=" " >
        <input type="submit" value="Add">
    </form>
</body>
</html>